<div class="list-search-bar list-search-bar--header">
    <div class="input-group">
        <span class="input-group-text" aria-hidden="true"><i class="bi bi-search"></i></span>
        <input type="search"
               class="form-control"
               data-fo-list-search-input
               placeholder="@SharedLocalizer["Search.Placeholder"]"
               aria-label="@SharedLocalizer["Search.Label"]"
               autocomplete="off" />
    </div>
</div>
